.title-head{
    // border-bottom: solid 1px;
    margin: 0px 50px 0px 50px;
    .title-name{
        text-align: center;
    }
}

.menu-home-menu-container{
    // float: right;
    // position: relative;
    // left: -50%;
    text-align: left;
    ul#main-menu{
        list-style: none;
        position: relative;
        // left: 50%;
    }
    ul#main-menu li {
        text-decoration: none;
        float: left;
        position: relative;
    }
    a{
        text-decoration: none;
    }
}

.footer-text{
    text-align: center;
}
.text-bold{
    font-weight:bold; 
}
.footer-logo{
    text-align: center;
}

.widget-title{
    text-align: center;
}

#wrapper-static-hero{
    background-color: white !important;
}


img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: 250px;
}

.title-content{
    background-color: rgb(231, 226, 207);

}