@font-face {
    font-family: 'Copasetic';
    src: url('../fonts/Copasetic.eot');
    src: url('../fonts/Copasetic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Copasetic.woff2') format('woff2'),
        url('../fonts/Copasetic.woff') format('woff'),
        url('../fonts/Copasetic.ttf') format('truetype'),
        url('../fonts/Copasetic.svg#Copasetic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Helvetica";
   }
.title-head{
    // border-bottom: solid 1px;
    // margin: 0px 50px 0px 50px;
    background-color: #e7e1d0;
    .title-name{
        text-align: center;
        font-family: 'Copasetic';
    }
}

.menu-home-menu-container{
    // float: right;
    // position: relative;
    // left: -50%;
    // text-align: left;
    ul#main-menu{
        list-style: none;
        position: relative;
        // left: 50%;
    }
    ul#main-menu li {
        text-decoration: none;
        float: left;
        position: relative;
    }
    a{
        text-decoration: none;
    }
}

.footer-text{
    text-align: center;
}
.text-bold{
    font-weight:bold; 
}
.footer-logo{
    text-align: center;
}

.widget-title{
    text-align: center;
    font-family: 'Copasetic';
    font-size: 2.4rem;
}

#wrapper-static-hero{
    background-color: white !important;
}


img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: 250px;
}

.title-content{
    background-color: rgb(231, 226, 207);
    p{
        padding: 10px
    }
}

#wrapper-footer{
    background-color: #f2f2f2;
}

.author-content{
    background-color: #e7e1d0;
}



.section-video{
    background-color: #e7e1d0;
    padding: 10px;
}

.section-slide{
    background-color: #cfbc94;
}

ul.content-video{
    width: 100%;
}

ul.content-video li{
    list-style: none;
    display: none;
}

ul.content-video li.active{    
    display: inherit;
}

.content-video-cover img{
    height: auto !important;
}
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; overflow: hidden; 
    max-width: 100%; height: auto; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
}

.lSSlideOuter{
    margin-top: 20px;
    margin-bottom: 20px;
}
.amazingslider-slides{
    li{
        img{
            border:4px solid white;
        }
    }
}

.collapse.show {
    display: block;
    position: absolute;
    z-index: 99999;
    margin-top: 45px;
    width: 90%;
}

.content-video-detail{
    p:first-child{
        font-weight: bold;
    }
    p{
        a.btn.btn-secondary.understrap-read-more-link{
            background-color: #A46F4D;
            border-color: #A46F4D;
        }
    }
    
}